.plugin_twofactor_profile {

    section {
        margin-top: 1em;
    }

    section.state {
        background-color: @ini_background_neu;
        color: @ini_text_neu;
        padding: 1em;
        margin: 1em;
    }

    section.providers {

        > div {
            display: flex;
        }
    }
}

.plugin_twofactor_admin {
    .pagination {
        text-align: center;
    }
}
