.dokuwiki .plugin_twofactor_profile {

    form {
        margin-top: 1em;
        display: block;

        label {
            display: block;
        }

        .buttons {
            margin-top: 1em;
            display: flex;
            justify-content: space-around;
        }
    }

    section {
    }

    section.state {
        background-color: @ini_background_neu;
        color: @ini_text_neu;
        padding: 1em;
        margin: 1em;
    }

}

.plugin_twofactor_admin {
    .pagination {
        text-align: center;
    }
}
